node_modules/
.cache/

dist/
dist-*/
out/
release/

.env
.env.*
.npmrc

firebase-service-account.json
**/firebase-service-account.json
/firebase-config.js
newfeatrures

*.log
*.tmp
.DS_Store
Thumbs.db
